services:
  ollama:
    image: ollama:${TAG:-rocm}-${OS:-debian}
    restart: unless-stopped
    build:
      context: ./${OS:-debian}
      args:
        UID: ${UID}
        RENDER_GID: ${RENDER_GID}
        USER_NAME: ${USER_NAME:-user}
        LANG: ${LANG}
    environment:
#     - HSA_OVERRIDE_GFX_VERSION=10.3.0
#     - GFX_ARCH=gfx1030
      - MIOPEN_FIND_MODE=fast
      - TZ=${TZ:-Asia/Tokyo}
      - LANG=${LANG}
    ports:
      - "127.0.0.1:11434:11434"
    devices:
      - /dev/kfd
      - /dev/dri
    tmpfs:
      - /tmp
    volumes:
#     - /tmp:/tmp
      - ./home_ollama:/home/ollama
      - ./home_user:/home/${USER_NAME:-user}
#     - ~:/home/${USER_NAME:-user}

  webui:
    image: ghcr.io/open-webui/open-webui:${WEBUI_TAG:-main}
    depends_on:
      - ollama
    restart: unless-stopped
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
      - WEBUI_SECRET_KEY=${WEBUI_SECRET_KEY:-}
#     - WEBUI_AUTH=False
#     - GLOBAL_LOG_LEVEL=DEBUG
    ports:
      - "127.0.0.1:3000:8080"
    tmpfs:
      - /tmp
    volumes:
      - ./webui_data:/app/backend/data

#volumes:
#  webui_data:
